#og-event {
  position:absolute;
  padding: 10px;
  background-color: aliceblue;
  border-radius: 15px;
  z-index: 5;
  max-width: 450px;
  max-height: fit-content;
  left:0;
  right:0;
  margin:0 auto;
  margin-top:-50px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#close-event {
  color: gray;
  cursor: pointer;
  font-size: 20px;
  flex-shrink: 0;
  margin-left: auto;
}
  
#other-user {
  color:orange;
  cursor: pointer;
}

#copy-button {
  color: gray;
  padding-left: 5px;
  font-size: small;
  cursor: pointer;
  width: 15px;
}

#message-content {
  word-break: break-word;
  white-space: pre-line;
  overflow-wrap: break-word;
  -ms-word-break: break-word;
  word-break: break-word;
}

.message-container{
  position: relative;
  box-sizing:border-box;
  background-color: aliceblue;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  width: 100%;
}

  
#author {
    font-weight: bold;
  }
  
#author:hover {
    cursor: pointer;
}
  
#pubkey {
  font-size: small;
  color: gray;
}
#timestamp {
  color:gray;
  font-size: small;
  text-align: left;
}

#replying {
  padding-left: 10px;
  font-size: small;
  color: gray;
  z-index: 4;
}

#profile-pic {
  background-color: white;
  height:50px;
  width:50px;
  object-fit: cover;
  border-radius:50%;
  margin-right: 10px;
  flex-shrink: 0;
}

#content-image {
  max-width: 70%;
  margin: auto;
  max-height: 400px; 
}

  