#profile-name {
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
}

#profile-container {
    margin: auto;
    width:90%;
    max-width: 600px;
    background-color: aliceblue;
    border-radius: 15px;
    margin-bottom: 15px;
}

#profile-large-pic {
    height:100px;
    width:100px;
    object-fit: cover;
    border-radius:50%;
    margin-top: 10px;
    margin-left: 10px;
    background-color: white;
}

#profile-pubkey {
    color: gray;
    font-size: small;
    padding-left: 10px;
    overflow-wrap: break-word;
    cursor: pointer;
}

#profile-about {
    padding: 10px;
    margin-top: 10px;
}

.profile-tooltip {
    border-radius: 10px;
    opacity: .95;
    font-size: small;
    background-color: orange;
}


#profile-copy-button {
    color: gray;
    font-size: small;
    cursor: pointer;
    width: 15px;
}